nav{
    width: 100vw;
    height: 2.5rem;
    position: fixed;
    z-index: 1;
    background-color: aliceblue;
    opacity: 20%;

    .nav-items{
        height: inherit;
        display: flex;
        align-items: center;

        margin-left: 25vw;
        margin-right: 25vw;

        padding: 10px;
    
        .nav-item01, .nav-item02, .nav-item03{
         display: flex;
         flex: auto;
         justify-content: center;

         a{
            font-size: xx-large;
         }
        }
    }
}
