div{
    #p01{
        background-image: url(../Assets/books.jpg);
        background-repeat: no-repeat;
        background-size: cover;

    }

    #p02{
        background-image: url(../Assets/parchment.jpg);
        background-repeat: no-repeat;
        background-size: cover;

    }

    #p03{
        background-image: url(../Assets/movies.png);
        background-repeat: no-repeat;
        background-size: cover;

    }

    #p04{
        background-image: url(../Assets/crocheting.jpg);
        background-repeat: no-repeat;
        background-size: cover;

    }

    #p05{
        background-image: url(../Assets/robot.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;

    }

    #p06{
        background-image: url(../Assets/coding.png);
        background-repeat: no-repeat;
        background-size: cover;

    }

    #p07{
        background-image: url(../Assets/crocheting.jpg);
        background-repeat: no-repeat;
        background-size: cover;

    }

    #p08{
        background-image: url(../Assets/crocheting.jpg);
        background-repeat: no-repeat;
        background-size: cover;

    }

    #p09{
        background-image: url(../Assets/crocheting.jpg);
        background-repeat: no-repeat;
        background-size: cover;

    }
}